/* Fira Sans fontti */
 @import url('/font/font.css');




body {
        color:#fff;
        font-family: "fira_sans_otregular", "Trebuchet MS", sans-serif;
        padding:0;
        margin:0;
        background-image:url('../images/bg.png') 50%;
        background-repeat:repeat-x;
        background-color:#5ee19c;
}

a,
a:link {
    outline: none;
}

::-webkit-input-placeholder {
   color: #000;
   font-style:italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
   font-style:italic;
}

::-moz-placeholder { /* Firefox 19+ */
        color: #000;
        font-style:italic;
}

:-ms-input-placeholder {
   color: #000;
}

#wrapper{
		min-height: 100%;
		height: auto !important;
		height: 100%;
        font-family: "fira_sans_otregular", "Trebuchet MS", sans-serif;
		position: relative;
        max-width: 700px;
        text-align: center;
        margin: 0 auto -97px;
        padding:0;
}

        #container {
                padding:40px;
        }

                h1 {
                        text-align:center;
                        font-size:46px;
                        text-transform:uppercase;
                        font-family: "fira_sans_otbold", "fira_sans_otregular", "Trebuchet MS", sans-serif;
                        font-weight: bold;
                }


                #todo-form{
                        position:relative;
                }

                        #todo {
	                        	font-family: "fira_sans_otitalic", "fira_sans_otregular", "Trebuchet MS", sans-serif;
                                height: 26px;
                                width: 90%;
                                float:left;
                                padding: 11px 12px 9px 12px;
                                margin-right: 0;
                                font-size: 24px;
                                background-color:#a2edc6;
                                border:solid 2px #d0f5e2;
                        }

                        #submit {
                                width:50px;
                                height:50px;
                                border:0;
                                background-color: #ccc;
                                cursor: pointer;
                                outline: none;
                                background: url('../images/button.png') no-repeat;
                                position:absolute;
                                right:0;
                        }

                .clearfix{
                        clear:both;
                }

                .sininen {
                        margin: 15px auto 0;
                        padding: 10px;
                        width: 100%;
						color:#fff;
						/*background-color:#8ae1e6;*/
                        -ms-touch-action: none;
                }
                        .sininen li {
                                list-style-type: none;
                                font-size: 24px;
                                cursor: move;
                                border-bottom: 3px solid #dcfafa;
								/*margin:15px;*/
								margin:15px 0 15px 0;
                                padding: 10px;
                                text-align: left;
                        }
                                .sininen li span {
                                        cursor: text;
                                        margin-left: 10px;
                                }
                                .sininen li a,
                                .sininen li a:link {
                                        float: right;
                                        display: none;
                                        text-decoration: none;
                                        color: #a2231e;
                                        position: relative;
                                        top: 11px;
                                }
                                .sininen li a:hover {
                                        text-decoration: underline;
                                }
								
								
								/*Punainen*/

                .punainen .poisto {
                color: #f03;}
								
                .punainen {
                        padding:0;
                        width: 100%;
						color:#fff;
                        -ms-touch-action: none;
                }
                        .punainen li {
                                list-style-type: none;
                                font-size: 24px;
                                cursor: move;
                                border-bottom: 3px solid #eddbd9;
                                margin:15px;
                                padding: 10px;
                                text-align: left;
                        }
                                .punainen li span {

                                        cursor: text;
                                        margin-left: 10px;
                                }
                                .punainen li a,
                                .punainen li a:link {
                                        float: right;
                                        display: none;
                                        text-decoration: none;
                                        color: #f03;
                                        position: relative;
                                        top: 11px;
                                }
                                .punainen li a:hover {
                                        text-decoration: underline;
                                }

                #text{
                        text-align:center;
                        margin-top: 60px;
                }
                
                        #text p:first-child{
                                font-size:36px;
                        }
                        
                        #text p:nth-child(2){
                                font-size:24px;
                                color:#c9f4d6;
                        }

                #do-when{
                        display:none;
                        text-align:left;
                        font-size:34px;
                        color:#c5eae9;
                        float:left;
                }
                
                #do-time{
                        display:none;
                        font-size:34px;
                        white-space: nowrap;
                        color:#fff;
                        float:right;
                        cursor:pointer;
                }
                
                #show-items{
                        clear:both;
                }
                
                .js .display {
                        display:none;
                }
                
.editable input {
	padding: 5px;
	font-size: 20px;
	margin-left: 10px;
}                

.editable button {
	font-size: 20px;
	padding: 5px;
	margin-left: 10px;
}


progress {
		background: #ca958f;
		width: 85%;
	    -webkit-appearance: none;
	    appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #ca958f;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background: #eddbd9;

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
                               
                
 .myButton {
        
        margin:30px;
        position: relative;           
        display:inline-block;
        color:#a2231e;
        font-family:Verdana;
        font-size:24px;
        font-weight:bold;
        padding:10px 34px;
        text-decoration:none;
        border: 1px solid #fff;
		cursor:pointer;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.33);
        
    }

    .myButton:hover {
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    
    .myButton:active, {
        background: #a2231e;
        color: #FFF;
        top:1px;
        -webkit-transition: all 0s linear;
        -o-transition: all 0s linear;
        -moz-transition: all 0s linear;
        transition: all 0s linear;
    }
    
    
    
    /* finishing_task.html*/

#done-page{
        background-image:url('../images/bg.jpg');
}

.endtask{
        text-transform:upppercase;
}

#text_middle{
        font-size:36px;
}

#done{
        text-transform:uppercase;
        background-color:#83e8b3;
        padding:15px 20px 15px 20px;
        color:#fff;
        font-size:28px;
        text-decoration:none;
}

   /* progress-page*/

#red{
        background: #8B2015;
}

#imdone{
        text-transform:uppercase;
        color:#D5B1AC;
        padding:15px 20px 15px 20px;
        font-size:28px;
        text-decoration:none;
        text-align:left;
		float:left;
		margin-left:18px;
}

                h2 {
                        text-align:left;
                        font-size:30px;
                        padding-top: 20px;
                        margin-left: 15px;
                }

                #todo-form-red{
                        position:relative;
                }

                        #todo-red {
                                height: 26px;
                                width: 95%;
                                float:left;
                                padding: 11px 12px 9px 12px;
                                margin-right: 0;
                                font-size: 24px;
                                background-color:#CA958F;
                                border:solid 2px #E5CAC7;
                        }

                        #submit-red {
                                width:50px;
                                height:50px;
                                border:0;
                                background-color: #ccc;
                                cursor: pointer;
                                outline: none;
                                background: url('../images/button-red.png') no-repeat;
                                position:absolute;
                                right:0;
						}

/*Media Queries*/
@media only screen and (max-width: 480px) {
		
        h1{font-size:36px;margin-bottom: 60px;}
        #text p:first-child{font-size:24px;}
        #text p:nth-child(2){font-size:18px;}
        #container {padding:15px;}
        #do-when{font-size:24px;}
        #do-time{font-size:24px;}
		#imdone{margin-left:10px; padding:15px 20px 15px 5px;}
		
		#text_middle {font-size: 23px;}
}
=======
body {
		position: relative;
        color:#fff;
        font-family: "fira_sans_otregular", "Trebuchet MS", sans-serif;
        padding:0;
        margin:0;
        background-image:url('../images/bg.jpg');
        background-repeat:repeat-x;
        background:#4ade90;
}

a,
a:link {
    outline: none;
}


::-webkit-input-placeholder {
   color: #000;
   font-style:italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
   font-style:italic;
}

::-moz-placeholder { /* Firefox 19+ */
        color: #000;
        font-style:italic;
}

:-ms-input-placeholder {
   color: #000;
}

#wrapper{
		position: relative;
        max-width: 700px;
        min-height: 700px;
        text-align: center;
        margin: auto;
        padding:0;
}

        #container {
                padding:40px;
        }

                h1 {
                        text-align:center;
                        font-size:46px;
                        text-transform:uppercase;
                }


                #todo-form{
                        position:relative;
                }

                        #todo {
                                height: 26px;
                                width: 90%;
                                float:left;
                                padding: 11px 12px 9px 12px;
                                margin-right: 0;
                                font-size: 24px;
                                background-color:#a2edc6;
                                border:solid 2px #d0f5e2;
                        }

                        #submit {
                                width:50px;
                                height:50px;
                                border:0;
                                background-color: #ccc;
                                cursor: pointer;
                                outline: none;
                                background: url('../images/button.png') no-repeat;
                                position:absolute;
                                right:0;
                        }

                .clearfix{
                        clear:both;
                }

                .sininen {
                        margin: 15px auto 0;
                        padding: 15px 0 15px 0;
                        width: 100%;
						color:#fff;
						/*background-color:#8ae1e6;*/
                        -ms-touch-action: none;
                }
                        .sininen li {
                                list-style-type: none;
                                font-size: 24px;
                                cursor: move;

                                
								/*margin:15px;*/
								margin:15px 0 15px 0;
                                padding: 9px 5px 5px 7px;
                                text-align: left;
                        }
                                .sininen li span {
                                        cursor: text;
                                }
                                .sininen li a,
                                .sininen li a:link {
                                        float: right;
                                        display: none;
                                        text-decoration: none;
                                        color: #a2231e;
                                        position: relative;
                                        top: 11px;
                                }
                                .sininen li a:hover {
                                        text-decoration: underline;
                                }
								
								#doItNow {
									display:none;
								}
								
								/*Punainen*/
								
                .punainen {
                        padding:0;
                        width: 100%;
						color:#fff;
                        -ms-touch-action: none;
                }
                        .punainen li {
                                list-style-type: none;
                                font-size: 24px;
                                cursor: move;
                                border-bottom: 3px solid #eddbd9;
                                margin:15px;
                                padding: 10px;
                                text-align: left;
                        }
                                .punainen li span {
                                        cursor: text;
                                        margin-left: 10px;
                                }
                                .punainen li a,
                                .punainen li a:link {
                                        float: right;
                                        display: none;
                                        text-decoration: none;
                                        color: #f03;
                                        position: relative;
                                        top: 11px;
                                }
                                .punainen li a:hover {
                                        text-decoration: underline;
                                }
                                
                                
.poisto {
	font-weight: bold;
}
                #text{
                        text-align:center;
                }
                
                        #text p:first-child{
                                font-size:36px;
                        }
                        
                        #text p:nth-child(2){
                                font-size:24px;
                                color:#c9f4d6;
                        }

                #do-when{
                        display:none;
                        text-align:left;
                        font-size:34px;
                        color:#c5eae9;
                        float:left;
                }
                
                #do-time{
                        display:none;
                        font-size:34px;
                        white-space: nowrap;
                        color:#fff;
                        float:right;
                        cursor:pointer;
                }
                
                #show-items{
                        clear:both;
                }
                
                .js .display {
                        display:none;
                }
                
.editable input {
	padding: 5px;
	font-size: 20px;
	margin-left: 10px;
}                

.editable button {
	font-size: 20px;
	padding: 5px;
	margin-left: 10px;
}


.checkbox {
	position: relative;
	top: 5px;
    display:inline-block;
    width:30px;
    height:30px;
    ;

}

progress {
		background: #ca958f;
		width: 85%;
		  -webkit-appearance: none;
   appearance: none;
   text-align: center;
}

progress[value]::-webkit-progress-bar {
  background-color: #ca958f;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background: #eddbd9;

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.doIt {
	display: block;
	max-width: 700px;
	padding-bottom:10px;
}

.doIt-wrapper {
background: #14c3cc;
-moz-box-shadow: 0px -5px 10px #14c3cc;
-webkit-box-shadow: 0px -5px 10px #14c3cc;
box-shadow: 0px -5px 10px #14c3cc;
	padding: 0;
    position:fixed;
    bottom:0px;
    width: 100%;
    margin: 0;
    height: 97px;
    text-align: center;
}     
                
.progress-status-wrapper {
background: #8B2015;
-moz-box-shadow: 0px -5px 10px #8B2015;
-webkit-box-shadow: 0px -5px 10px #8B2015;
box-shadow: 0px -5px 10px #8B2015;
	padding: 0;
    position:fixed;
    bottom:0px;
    width: 100%;
    margin: 0;
    height: 97px;
    text-align: center;
}                

.progress-status {
	display: block;
	max-width: 700px;
	margin: 0 auto;
}
                
 .myButton {
        
        margin:30px 0 0 0;
        position: relative;           
        display:inline-block;
        color:#a2231e;
        font-family:Verdana;
        font-size:24px;
        font-weight:bold;
        padding:10px 34px;
        text-decoration:none;
        border: 1px solid #fff;
		cursor:pointer;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.33);
        
    }

    .myButton:hover {
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.8);
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
    
    
    .myButton:active, {
        background: #a2231e;
        color: #FFF;
        top:1px;
        -webkit-transition: all 0s linear;
        -o-transition: all 0s linear;
        -moz-transition: all 0s linear;
        transition: all 0s linear;
    }
    
    
    
    /* finishing_task.html*/

#done-page{
        background-image:url('../images/bg.jpg');
}

.endtask{
        text-transform:upppercase;
}

#text_middle{
        font-size:36px;
}

#done{
        text-transform:uppercase;
        background-color:#83e8b3;
        padding:15px 20px 15px 20px;
        color:#fff;
        font-size:28px;
        text-decoration:none;
}

/* finishing_task_orange*/

#done-page-orange{
	background-color:#de9846;
	background-image:none;
}

.endtask_orange{
        text-transform:upppercase;	
}

#keepgoing_orange{
	    text-transform:uppercase;
        background-color:#e6b274;
        padding:15px 20px 15px 20px;
        color:#000;
        font-size:28px;
        text-decoration:none;
}

#done_orange{
        text-transform:uppercase;
        background-color:#a67234;
        padding:15px 20px 15px 20px;
        color:#000;
        font-size:28px;
        text-decoration:none;
}

.below_header{
	font-weight:bold;
	font-size:18px;
	margin-top:-20px;
}

.link1{
	padding:60px 0 30px 0;
}

		/*Musta näkymä*/
#black {
        background-color:#000;
        font-family:trebuchet MS, sans-serif;
		color: #fff;
        padding:0;
        margin:0;
        background-image:none;
}

#letsdothis{
        text-transform:uppercase;
        background-color:#7f7f7f;
        padding:15px 20px 15px 20px;
        color:#fff;
        font-size:28px;
        text-decoration:none;
}	

#giveup_black{
        text-transform:uppercase;
        background-color:#3f3f3f;
        padding:15px 20px 15px 20px;
        color:#000;
        font-size:28px;
        text-decoration:none;
}

.link1 {
padding: 60px 0 30px 0;}

.link2 {}	
		

.endtask_black{
        text-transform:upppercase;
}

   /* progress-page*/

#red{
        background: #8B2015;
}

#imdone{
        text-transform:uppercase;
        color:#D5B1AC;
        padding:15px 20px 15px 20px;
        font-size:28px;
        text-decoration:none;
        text-align:left;
		float:left;
		margin-left:30px;
}

                h2 {
                        text-align:left;
                        font-size:30px;
                        padding-top: 20px;
                        margin-left: 15px;
                }

                #todo-form-red{
                        position:relative;
                }

                        #todo-red {
                                height: 26px;
                                width: 95%;
                                float:left;
                                padding: 11px 12px 9px 12px;
                                margin-right: 0;
                                font-size: 24px;
                                background-color:#CA958F;
                                border:solid 2px #E5CAC7;
                        }

                        #submit-red {
                                width:50px;
                                height:50px;
                                border:0;
                                background-color: #ccc;
                                cursor: pointer;
                                outline: none;
                                background: url('../images/button-red.png') no-repeat;
                                position:absolute;
                                right:0;
						}

/*Media Queries*/
@media only screen and (max-width: 480px) {
		
        h1{font-size:36px;}
        #text p:first-child{font-size:24px;}
        #text p:nth-child(2){font-size:18px;}
        #container {padding:15px;}
        #do-when{font-size:24px;}
        #do-time{font-size:24px;}
		#imdone{margin-left:10px; padding:15px 20px 15px 5px;}
		
		
}

/*Media Queries*/
@media only screen and (max-width: 480px) {
        h1{font-size:36px;}
        #text p:first-child{font-size:24px;}
        #text p:nth-child(2){font-size:18px;}
        #container {padding:25px;}
        #do-when{font-size:24px;}
        #do-time{font-size:24px;}
		#imdone{margin-left:10px; padding:15px 20px 15px 5px;}
		#keepgoing_orange{font-size:24px;}
		#done_orange{font-size:24px;}
		#text_middle {font-size: 23px;}
}

@media only screen and (max-width: 360px) {
        h1{font-size:28px;}
		#letsdothis  {font-size:22px;}
		#giveup_black  {font-size:22px;}
		.below_header {font-size:14px; margin-top:-15px;}

}

